version: "3.8"

services:
  db:
    env_file: 
      - ../../.env
    image: postgres:16.11
    ports:
      - "5432:5432"
      
    volumes:
      - pgdata:/var/lib/postgresql/data

  migrate:
    image: flyway/flyway
    command: migrate
    env_file:
      - ../../.env
    volumes:
      - ../../src/db/migrations:/flyway/sql
    depends_on:
      - db

  # From https://hub.docker.com/r/localstack/localstack#docker-compose
  localstack:
    # Official LocalStack image (AWS services emulator)
    image: localstack/localstack

    ports:
      # Single LocalStack edge/gateway port.
      # All AWS services (S3, SQS, etc.) are accessed via this port
      - "127.0.0.1:4566:4566"

    environment:
      # Enable debug logging if DEBUG=1 is set in your env
      # LocalStack configuration: https://docs.localstack.cloud/references/configuration/
      - DEBUG=${DEBUG:-0}

      # Only start services you need - speeds up startup and reduces noise
      - SERVICES=s3,sqs

    volumes:
      - "./localstack/init:/etc/localstack/init/ready.d"
      # Persist LocalStack state on host machine - keeps S3 buckets, SQS queues, etc. between restarts
      - ./data/localstack:/var/lib/localstack"

volumes:
  pgdata: