services:
  db:
    env_file: 
      - ../../.env
    image: postgres:16.11
    ports:
      - "5432:5432"
      
    volumes:
      - pgdata:/var/lib/postgresql/data

  migrate:
    image: flyway/flyway
    command: migrate
    env_file:
      - ../../.env
    volumes:
      - ../../src/db/migrations:/flyway/sql
    depends_on:
      - db


volumes:
  pgdata: